page-myset {
    ion-title{
        margin-left:-8px;
    }
    .align{
        width:48px;
    }
    .content-ios{
        background-color: #eeeeee;
    }
    .content-md {
      background-color: #eeeeee;
    }
    .list-ios{
        margin-top:20px;
    }
    .list-md {
      margin-top: 20px;
    }
    .item{
        border-bottom:0.5px solid #eeeeee !important;
    }
    ion-item{
        border-bottom:0.5px solid #000;
        ion-icon{
            position: relative;
            top:5px;
            left:5px;
        }
        opacity: 0.9;
        font-family: '等线';
        span{
            color:#8d8d8d;
        }
    }
    .button-ios{
        height: 62px;
        color:#000;
        background-color:#ffdb2c;
    }
    .button-md {
        margin-top:30px;
        height: 62px;
        color: #000;
        background-color: #ffdb2c;
    }
}
