// http://ionicframework.com/docs/theming/

@font-face {
  font-family: 'Ionicons';
  src: url('../assets/fonts/iconfont.eot');
  src: url('../assets/fonts/iconfont.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/iconfont.woff') format('woff'),
    url('../assets/fonts/iconfont.ttf') format('truetype'),
    url('../assets/fonts/iconfont.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "Ionicons" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.ion-ios-huancun:before,
.ion-md-huancun:before {
  content: "\e802";
}

.ion-ios-huancun -outline:before,
.ion-md-huancun -outline:before {
  content: "\e802";
}

.ion-ios-aboutus:before,
.ion-md-aboutus:before {
  content: "\e627";
}

.ion-ios-aboutus -outline:before,
.ion-md-aboutus -outline:before {
  content: "\e627";
}

.ion-ios-version:before,
.ion-md-version:before {
  content: "\e63e";
}

.ion-ios-version -outline:before,
.ion-md-version -outline:before {
  content: "\e63e";
}

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
ul,
li {
  list-style: none;
}
.tabs-ios:nth-of-type(3){
  color: #ffdb2c;
}

.tabs-ios .tab-button:hover:not(.disable-hover),
.tabs-ios .tab-button[aria-selected=true],
.tabs-ios .tab-button[aria-selected=true] .tab-button-icon {
  color: #ffdb2c;
}
.tabs-md .tab-button:hover:not(.disable-hover),
.tabs-md .tab-button[aria-selected=true],
.tabs-md .tab-button[aria-selected=true] .tab-button-icon{
  color: #ffdb2c;
  margin-top:1px;
}
.ion-ios-add-circle,
.ion-ios-add-circle-outline {
  height: 40px !important;
}
.ion-md-add-circle:before,
.ion-md-add-circle-outline:before{
  color: #ffdb2c;
}

.ion-ios-add-circle:before,
.ion-ios-add-circle-outline:before {
  color: #ffdb2c;
  font-size: 45px;
  margin-top: 1px;
}

.ion-md-add-circle:before {
  font-size: 45px;
  margin-top: 5px;
}